Resources:
 Post:
   Type: AWS::DynamoDB::Table
   Properties:
     TableName: '`{ "Ref" : "AWSEBEnvironmentName" }`_Post'
     AttributeDefinitions:
       -
         AttributeName: "id"
         AttributeType: "N"
       -
         AttributeName: "slug"
         AttributeType: "S"
       -
         AttributeName: "created"
         AttributeType: "S"
     KeySchema:
       -
         AttributeName: "id"
         KeyType: "HASH"
     GlobalSecondaryIndexes:
       -
         IndexName: "slug"
         KeySchema:
           -
             AttributeName: "slug"
             KeyType: "HASH"
         Projection:
           ProjectionType: "ALL"
         ProvisionedThroughput:
           ReadCapacityUnits: "1"
           WriteCapacityUnits: "1"
       -
         IndexName: "created"
         KeySchema:
           -
             AttributeName: "created"
             KeyType: "HASH"
         Projection:
           ProjectionType: "ALL"
         ProvisionedThroughput:
           ReadCapacityUnits: "1"
           WriteCapacityUnits: "1"
     ProvisionedThroughput:
       ReadCapacityUnits: "1"
       WriteCapacityUnits: "1"
