includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/localheinz/phpstan-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/InfrastructureMhert_Blog_Infrastructure_KernelDevDebugContainer.xml'

    paths:
        - src
        - tests
    excludes_analyse:
        - %currentWorkingDirectory%/src/Mhert/Blog/Infrastructure/Kernel.php
        - %currentWorkingDirectory%/src/Mhert/Blog/Infrastructure/ParsedownMarkdownParser.php

    level: max

    ignoreErrors:
        -
            message: '#(.*)has a nullable return type declaration.#'
            path: %currentWorkingDirectory%/src/Mhert/Blog
        -
            message: '#Class "Mhert\\Blog\\Infrastructure\\Commands\\InitDbCommand" is not allowed to extend "Symfony\\Component\\Console\\Command\\Command".#'
            path: %currentWorkingDirectory%/src/Mhert/Blog/Infrastructure/Commands/InitDbCommand.php