@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'),
    url('/assets/fonts/raleway-v13-latin/raleway-v13-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/raleway-v13-latin/raleway-v13-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local('Inconsolata'), local('Inconsolata-Regular'),
    url('/assets/fonts/inconsolata-v17-latin/inconsolata-v17-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/inconsolata-v17-latin/inconsolata-v17-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Noto Color Emoji';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Color Emoji'),
    url('/assets/fonts/noto-color-emoji/NotoColorEmoji.ttf') format('truetype');
}

:root {
    --font-plain: 'Raleway', 'Noto Color Emoji', sans-serif;
    --font-mono: 'Inconsolata', 'Noto Color Emoji', monospace;
    --color-dark: #050505;
    --color-darkish: #404040;
    --color-lightish: #fafafa;
    --color-light: #ffffff;
    --color-mid: grey;
    --ratio: 1.2;
    --s-5: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-4: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
    --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
    --s4: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
    --s5: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
    --measure: 65ch;
    --line-height: var(--ratio);
    --line-height-small: calc(0.75 * var(--ratio));
    --border-thin: var(--s-5);
    --border-thick: var(--s-2);
}

*, :after, :before {
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    border: none;
}

footer, header, main, nav, pre {
    display: block
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

[href]:hover {
    text-decoration: none
}

:focus {
    outline: none;
    border: none;
}

/** Base **/

:root {
    line-height: var(--line-height);
    font-size: calc(.333vh + 1em);
    font-family: var(--font-plain);
    background-color: var(--color-light);
    color: var(--color-dark);
}

/** Layout **/

header {
    padding: var(--s3);
}

main {
    padding: var(--s3);
}

@media (min-width: 1280px) {
    body {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    header {
        flex-basis: 15rem;
        flex-grow: 1;
    }

    main {
        flex-basis: 0;
        flex-grow: 999;
    }

    main > * {
        max-width: 70rem;
        margin: auto;
    }
}

.nav-items {
    margin-top: var(--s-5);
}

.nav-item:not(:last-child) {
    float: left;
    margin-right: 1rem;
}

.posts > * + * {
    margin-top: var(--s1);
}

/** Style global **/

.title {
    font-size: var(--s3);
}

.nav-items {
    list-style: none;
}

.nav-item a {
    color: black;
    text-decoration: underline;
}

.nav-item a:visited {
    color: black;
    text-decoration: underline;
}

.posts {
    list-style: none;
}

.posts > * + * {
    border-top: 1px solid var(--color-lightish);
}

/** Style .text **/

.text h1 a {
    text-decoration: none;
}

.text h1 {
    font-size: var(--s4);
}

.text h2 {
    font-size: var(--s3);
}

.text h3 {
    font-size: var(--s2);
}

.text h4 {
    font-size: var(--s1);
}

.text p,
.text img,
.text blockquote,
.text pre,
.text ul,
.text ol,
.text dl,
.text dir,
.text hr {
    font-size: var(--s0);
}

.text > * + h1,
.text > * + h2,
.text > * + h3,
.text > * + h4 {
    margin-top: var(--s3)
}

.text > * + * {
    margin-top: var(--s0)
}

.text blockquote {
    padding-left: 1rem;
}

.text pre {
    outline: 1px solid var(--color-dark);
    padding: 0.5rem;
    background-color: var(--color-lightish);
    white-space: pre-wrap;
}

.text ol, .text ul {
    padding-left: 1.875rem
}


.text code {
    font-family: var(--font-mono);
}