<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mathias' Blog{% endblock %}</title>
        <link href="{{ asset('app.css', 'css') }}" rel="stylesheet">
    </head>
    <body>
        <header>
            <p class="title">Mathias' Blog</p>
            <nav>
                <ul class="nav-items">
                    <li class="nav-item"><a href="/posts">Posts</a></li>
                    <li class="nav-item"><a href="/imprint">Imprint</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{ body | raw }}
        </main>
        <script src="{{ asset('app.js', 'js') }}" type="application/ecmascript"></script>
    </body>
</html>
