{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <h2>Imprint</h2>
        <p>
            Hertlein IT Solutions UG (haftungsbeschränkt)<br>
            Mathias Hertlein<br>
            Schloßanger 5<br>
            91801 Markt Berolzheim<br>
            mathias.hertlein@hrtit.de<br>
            +49 (0)176 8400 3000<br>
            Geschäftsführer: Mathias Hertlein<br>
            Handelsregistereintrag: HRB 6303 Amtsgericht Ansbach<br>
            USt-IdNr.: DE306723965
        </p>
    </div>
{% endblock %}
