{% extends 'base.html.twig' %}

{% block body %}
    <ul class="posts">
        {% for post in page.posts %}
            <li class="post">
                {{ post.created }}
                {{ post.content | raw }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
