{% extends 'base.html.twig' %}

{% block body %}
    <ul class="posts">
        {% for post in page.posts %}
            <li>
                <article class="post text">
                    {{ post.content | raw }}
                </article>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
