{% extends 'base.html.twig' %}

{% block body %}
    <ul class="posts">
        <li class="post">
            {{ page.post.created }}
            {{ page.post.content | raw }}
        </li>
    </ul>
{% endblock %}
